{% extends "base.twig" %}

{% set page_class = "news" %}

{% block content %}
	<section class="news-filters">
		{% if page.show_press_section == "Yes" %}
			<button class="news-filter active" data-filter=".press">Press</button>
		{% endif %}
		{% if page.show_awards_section == "Yes" %}
			<button class="news-filter" data-filter=".awards">Awards</button>
		{% endif %}
		{% if page.show_videos_section == "Yes" %}
			<button class="news-filter" data-filter=".videos">Videos</button>
		{% endif %}
		{% if page.show_books_section == "Yes" %}
			<button class="news-filter" data-filter=".books">Books</button>
		{% endif %}
	</section>
	{% if page.show_press_section == "Yes" %}
		<section class="press news__section active">
			<h2 class="page__subtitle">{{ page.press_title }}</h2>
			{% for article in press %}
				<article class="press__item">
					{% if article.meta('link')|length > 0 %}
						{% set link_url = article.meta('link') %}
					{% elseif article.pdf != null %}
						{% set link_url = article.meta('pdf').url %}
					{% endif %}
					<p class="press__date">{{ article.date }}</p>
					<h3 class="press__title">
						<a href="{{ link_url }}" target="_blank">{{ article.title }}</a>
					</h3>
					<h4 class="press__source">{{ article.news_source }}</h4>
				</article>
			{% endfor %}
		</section>
	{% endif %}
	{% if page.show_awards_section == "Yes" %}
		<section class="awards news__section">
			<h2 class="page__subtitle awards__title">{{ page.awards_title }}</h2>
			{% for project in projects %}
				<div class="award__section">
					<h4 class="award__project">{{ project.title }}</h4>
					{% for award in project.meta('awards') %}
						{% if award.award_link %}
							<p class="award__title">
								<a class="award__link" href="{{ award.award_link }}" target="_blank">{{ award.title }}</a>
							</p>
						{% else %}
							<p class="award__title">{{ award.title }}</p>
						{% endif %}
					{% endfor %}
				</div>
			{% endfor %}
		</section>
	{% endif %}
	{% if page.show_videos_section == "Yes" %}
		<section class="videos news__section">
			<h2 class="page__subtitle video__title">{{ page.videos_title }}</h2>
			{% for video in page.meta('videos') %}
				<figure class="video__container">
					<div class="video">{{ video.video_url }}</div>
					<figcaption class="video__caption">{{ video.video_title }}</figcaption>
				</figure>
			{% endfor %}
			<p class="videos__button">
				<a href="{{ page.more_videos_link.url }}" class="page__button" target="_blank">{{ page.more_videos_link.title }}</a>
			</p>
		</section>
	{% endif %}
	{% if page.show_books_section == "Yes" %}
		<section class="books news__section">
			<h2 class="page__subtitle books__title">{{ page.books_title }}</h2>
			{% for book in page.meta('books') %}
				<article class="book">
					<img src="{{ Image(book.book_cover).src|resize(600) }}" alt="{{ Image(book.book_cover).alt }}" srcset="{{ Image(book.book_cover).srcset }}" class="book__image">
					<h3 class="book__title">{{ book.title }}
						{% if book.subtitle %}
							<br>
							{{ book.subtitle }}
						{% endif %}
					</h3>
					<p class="book__details">{{ book.authors }}</p>
					<p class="book__details">{{ book.publisher }}</p>
					<p class="book__details">{{ book.year }}</p>
				</article>
			{% endfor %}
		</section>
	{% endif %}

{% endblock %}
