{% extends "base.twig" %}

{% set page_class = "blog" %}

{% block content %}
	<section class="blog-posts">
		{% for post in posts %}
			<article class="blog-post">
				<a href="{{ post.link }}" class="blog-post__link">
					<figure class="blog-post__image">
						<img class="lazyload" src="{{ post.thumbnail.src|resize(300) }}" alt="{{ post.thumbnail.alt }}" data-src="{{ post.thumbnail.src|resize(800) }}" data-srcset="{{ post.thumbnail.srcset }}" data-sizes="auto">
					</figure>

					<time class="blog-post__date" datetime="{{ post.date|date('Y-m-d H:i:s') }}">{{ post.date }}</time>
					<h3 class="blog-post__title">{{ post.title }}</h3>
				</a>
			</article>
		{% endfor %}
	</section>
{% endblock %}
