{% extends "base.twig" %}

{% set page_class = "article-page" %}

{% block content %}
	<article class="article">
		<section class="article__header">
			<figure class="article__hero">
				<h1 class="page__title article__title">{{ post.title }}</h1>
				<img class="article__hero-image lazyload" src="{{ post.thumbnail.src|resize(300) }}" alt="{{ post.thumbnail.alt }}" data-src="{{ post.thumbnail.src }}" data-srcset="{{ post.thumbnail.srcset }}" data-sizes="auto">
				<time class="article__date" datetime="{{ post.date|date('Y-m-d H:i:s') }}">{{ post.date }}</time>
			</figure>
		</section>
		<section class="article__body">
			<div class="article__content">
				{{post.content}}
			</div>
		</section>
	</article>
{% endblock %}
